<main [style.background-color]="color">
      <button class="Theme-BTN" (click)="ColMode()">Theme</button>
      <div class="cont">
            <div class="box">
      
                  <div class="img">
                        <img [src]="img1" alt="" srcset="">
                  </div>
                  <h1>{{ProductName}}</h1>
                  <p>{{productDescription}}</p>
      
            </div>
      
      
      
            <div class="box">
      
                  <div class="img">
                        <img [src]="img2" alt="" srcset="">
                  </div>
                  <h1>{{ProductName}}</h1>
                  <p>{{productDescription}}</p>
      
            </div>
      
      
      
      
            <div class="box">
      
                  <div class="img">
                        <img [src]="img3" alt="" srcset="">
                  </div>
                  <h1>{{ProductName}}</h1>
                  <p>{{productDescription}}</p>
      
            </div>
      </div>
</main>



<!-- two way binding!  საჭიროა რომ დავაიმპორტოთ forms module --> 

 <!--   [()]   -->
 <input type="text" [(ngModel)]="firstName">
 <p>{{firstName}}</p>

